.container {
  .modalButton {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    background-color: transparent;
    transition: all .3s;
    padding: 8px 17px;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      background-color: rgb(232, 96, 96)
    }
  }
}