.container {
  width: 70%;
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .imageContainer {
    .imageContent {
      width: 300px;
    }
  }

  .textContainer {
    width: 100%;

    .basicContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 30px auto;

      .contentTitleText {
        color: #292929bf;
        font-size: 23px;
        font-weight: bold;
      }

      .contentTitle {
        border-radius: 15px;
        color: #292929;
        padding-left: 10px;
        font-size: 23px;
        border: solid 1px black;
      }

      .contentAddress {
        color: #ccc;
        font-size: 15px;
      }

      .contentDate {
        margin: 15px auto;
        text-align: right;
      }
    }

    .uniqueContainer {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .contentContainer {
        width: 90%;
        height: 250px;
        margin: 30px auto;
        padding: 10px;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }

      .contentContainerSub {
        border: none;
        width: 90%;
        height: 250px;
        margin: 30px auto;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }

      .descriptContainer {
        padding: 10px;
        flex-direction: column;
        display: flex;
        align-self: flex-end;
        display: inline;

        .ownerName {
          color: #292929;
          font-size: 18px;
          margin-right: 10px;
        }

        .ownerAddress {
          color: #ccc;
          font-size: 14px;
        }

        .modalButton {
          margin: 0 auto;
          width: 80%;
          height: 30px;
          text-align: center;
          border: 1px solid rgb(232, 96, 96);
          color: #292929bf;
          border-radius: 15px;
          background-color: transparent;
          transition: all .3s;
          margin-top: 15px;
      
          &:hover {
            cursor: pointer;
            background-color: rgb(232, 96, 96);
            color: #fff;
          }
        }
      }
    }
  }
  
}